body {
  cursor: url("../images/mouse-cursor-qa.png"), auto;
  background-image: url("../images/qa-image.jpeg");
  background-size: cover;
  font-family: corrupted;
  user-select: none;
  color: red;
  margin-bottom: 20%;
}
h2 {
  font-size: calc(1rem + 1vh);
  font-family: bitmap;
  color: red;
  text-shadow: 7px 7px 3px aqua;
  text-align: center;
  background-color: yellow;
  animation: back 20s linear infinite alternate;
  border-radius: 10px;
  padding: 1em;
  margin: 2em;
  max-width: 100%;
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1rem;
    padding: 1em;
  }
}

.title {
  text-align: center;
  font-size: 3em;
  color: blue;
  text-shadow: 3px 3px 1px #ff00a6;
  letter-spacing: 8px;
  line-height: 110%;
  background: #99ff00;
  padding: 3% 3%;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.menu {
  color: red;
  display: flex;
  padding: 2%;
  width: fit-content;
  height: fit-content;
  font-family: bitmap;
  margin: 0 auto;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.menu a {
  background-color: aqua;
  padding: 8%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.menu a:hover {
  color: rgb(0, 242, 255);
  background-color: red;
}

a:hover {
  cursor: url("../images/mouse-cursor-qa-inverted.png"), auto;
}

@font-face {
  font-family: corrupted;
  src: url("../fonts/corrupted.ttf");
}

@font-face {
  font-family: bitmap;
  src: url("../fonts/8-bit-pusab.ttf");
}

@media (min-width: 720px) {
  .title {
    font-size: 6em;
    padding: 5% 5%;
  }
}

@media (min-width: 990px) {
  .menu {
    flex-direction: row;
    font-size: 1.5vw;
    gap: 2em;
  }
}

@keyframes back {
  0% {
    background-color: #ffcc00;
    text-shadow: 7px 7px 3px #ff0000;
    color: #6600cc;
  }
  25% {
    background-color: #ff0000;
    text-shadow: -6px -12px 12px #00cc66;
    color: #0000ff;
  }
  50% {
    background-color: #ff66ff;
    text-shadow: 4px 8px 4px #00cc66;
    color: #ff9900;
  }
  75% {
    background-color: #0000ff;
    text-shadow: -1px -5px 10px #00cc66;
    color: #ffcc00;
  }
  100% {
    background-color: #ffff00;
    text-shadow: 6px 3px 7px #00cc66;
    color: #ff0000;
  }
}
