body {
  cursor: url("../images/mouse-cursor-qa.png"), auto;
  background-image: url("../images/qa-image-psicoito.jpeg");
  background-size: cover;
  font-family: corrupted;
  user-select: none;
}

@font-face {
  font-family: corrupted;
  src: url("../fonts/corrupted.ttf");
}

@font-face {
  font-family: bitmap;
  src: url("../fonts/8-bit-pusab.ttf");
}

.title {
  text-align: center;
  font-size: 3em;
  color: blue;
  text-shadow: 3px 3px 1px #ff00a6;
  letter-spacing: 8px;
  line-height: 110%;
  background: #99ff00;
  padding: 3% 3%;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.voltar {
  background-color: rgb(0, 242, 255);
  color: red;
  display: flex;
  padding: 2%;
  width: fit-content;
  height: fit-content;
  font-family: bitmap;
  margin: 0 auto;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.voltar a:hover {
  color: rgb(0, 242, 255);
  background-color: red;
  padding: 3%;
}

a:hover {
  cursor: url("../images/mouse-cursor-qa-inverted.png"), auto;
}

.psicoito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: red;
  padding: 3%;
  color: blue;
  font-family: bitmap;
  text-shadow: 4px 4px 4px lightgreen;
  width: 90%;
  margin: auto;
  font-size: 1.5em;
}
.psicoito iframe {
  width: 80vw;
  height: 80vh;
}
.psicoito h2 {
  background-color: red;
}
.biscoito {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9999;
  animation: grow-and-disappear 12s linear 2s infinite forwards;
  opacity: 0;
  transform: scale(1);
}

.biscoito2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9999;
  animation: grow-and-disappear2 12s linear 2s infinite forwards;
  opacity: 0;
  transform: scale(1);
}

@keyframes grow-and-disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(3) translateY(-600px);
    opacity: 0;
  }
}
@keyframes grow-and-disappear2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(3) translateY(+600px);
    opacity: 0;
  }
}

@media (min-width: 720px) {
  .title {
    font-size: 6em;
    padding: 5% 5%;
  }
  .psicoito {
    font-size: 3em;
  }
}

@media (min-width: 990px) {
  .voltar {
    flex-direction: row;
    font-size: 1em;
  }
}
